ol>li{background-color: red;}
ol>li>ol>li{background-color: red;}
ol>li>ol>li+li{background-color:green;}
ol>li>ol>li+li>ul>li{background-color: yellow;}
ol>li>ol>li+li>ul>li+li{background-color: blue;}
ol>li>ol>li+li>ul>li+li>ol>li{background-color: orange;}
ol>li>ol>li+li>ul>li+li>ol>li+li{background-color: pink;}
ol>li>ol>li+li>ul>li+li+li{background-color: crimson;}
ol>li+li{background-color: blue;}
ol>li+li>ol>li{background-color: orange;}
ol>li+li>ol>li+li{background-color: yellow;}
ol>li+li>ol>li+li>ul>li{background-color: blue;}
ol>li+li>ol>li+li>ul>li+li{background-color: green;}
ol>li+li>ol>li+li+li{background-color: crimson;}